body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  display: inline;
  padding:2px;
  line-height: 32px;
}

button{
  font-size: 23px;
  cursor: pointer;
}

#root{
  margin: auto;
  width: 240px;
}

.game-header{
  font-size: 28px;
  margin: 10px auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 20px;
  margin: 10px;
}

.move-header{
  margin: 0px 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.square:hover{
  background: #eee;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 0px;
}